<?xml version="1.0" ?>
<!--
    Note: This demo web.config is for IIS Classic mode.
-->
<configuration>
	<appSettings>
		<!--<add key="CuteEditorTempPath" value="~/uploadertemp" />-->
	</appSettings>
	<system.web>
		<httpModules>
			<add name="CuteEditor.UploadModule" type="CuteEditor.UploadModule,CuteEditor"/>
		</httpModules>
	</system.web>
</configuration>