<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Bundle Name="Bootstrapper1" Version="1.0.0.0" Manufacturer="5555" UpgradeCode="60f3a996-9a14-41dc-8276-53e7a2afd544">
    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense" />

    <Chain>
      <MsiPackage SourceFile="path\to\your.msi" />
    </Chain>
  </Bundle>
</Wix>
